
 .home-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home-heading {
    color: #333;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .home-subheading {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .featured-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .product-card {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .product-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }


  .form-span {
    color: indianred;
  }
  /* pass style */
  .password-input-wrapper {
    position: relative;
  }
  
  .password-input {
    padding-right: 2.5rem; /* Provide enough space for the toggle icon */
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 70%;
    right: 0.75rem; /* Adjust the positioning as needed */
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    transition: color 0.3s;
  }
  
  .password-toggle-icon.visible {
    color: #333; /* Change the color when password is visible */
  }

  /* ===========================Accordian============================== */
  